/*  
COLORS:
    BODY BG      : #152340
    NowPlayingBar: #182848
    navBar       : #13203B
*/
body,html
{
    margin: 0;
    padding: 0;
    
}
*{
    font-family: Helvetica,Arial,sans-serif; 
    color: #fff;
    letter-spacing: 1px;
}
body
{
    background-color: #152340;
    font-size: 14px;
    min-width: 720px;
}
#topContainer
{
    min-height: 100%;
    width: 100%;
}


/*Now playing bar START*/
#nowPlayingContainer
{
    width: 100%;
    bottom: 0;
    position: fixed;
    background: #182848;  
    min-width: 620px;
}
#nowPlayingBar
{
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}
#nowPlayingLeft,#nowPlayingRight
{
    width: 30%;
    min-width: 180px;
}
#nowPlayingRight
{
    position: relative;
    margin-top: 16px;
    ]
}
#nowPlayingCenter
{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nowPlayingBar .content
{
    width: 100%;
}
.playerControls .buttons
{
    margin: 0 auto;
    display: table
    
}
.controlButton
{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}
.controlButton img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
} 
.controlButton.play  img,
.controlButton.pause img
{
    width: 32px;
    height: 32px;
}
.progressTime
{
    color:#a0a0a0;
    font-size: 12px;
    min-width: 40px;
    text-align: center;
}
.progressBar
{
    width: 100%;
    height: 10px;
    display: inline-flex;
    cursor: pointer;
}
.playbackBar
{
    display: flex;
}
.progressbarBg
{
    background-color: #485665;
    height: 3px;
    width: 100%;
    border-radius: 2px;
}
.progress
{
    background-color:#a0a0a0;
    width: 0;
    height: 3px;
    border-radius: 2px;
}
.playbackBar .progressBar
{
    margin-top: 3px;
    
}
#nowPlayingLeft .albumArt
{
    height: 100%;
    max-width: 60px;
    margin-right: 15px;
    
    float: left;
    background-size: cover;
}
#nowPlayingLeft .trackInfo
{
 display: table;
}
#nowPlayingLeft .trackInfo .trackName
{
    margin: 6px 0;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}
#nowPlayingLeft .trackInfo .artistName span
{
    font-size: 13px;
    color: #a0a0a0;
}
#nowPlayingRight .volumeBar
{
    position: absolute;
    right: 0;
    width: 180px;
    margin: 0 15px;
}
#nowPlayingRight .volumeBar .progressBar
{
    width: 125px;
}

/*Now playing bar END*/



/*NAVBAR START*/

#navBarContainer
{
    background-color: #13203B;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
#navBarContainer #navBar
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.logo
{
    margin-bottom: 15px;
}
.logo img
{
    width: 80px;
}
.group
{
    border-top: 2px solid #a0a0a0;
    padding: 10px 0px;
}
.navItem
{
    position: relative;
    padding: 7px;
    font-size: 20px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
}
.navItemLink
{
    text-decoration: none;
    color:#a0a0a0;
}
.navItemLink:hover
{
    color: #fff;    
}
.navItemLink .icon
{
    position: absolute;
    top: 3px;
    right: 8px;
    width: 30px;

}

/*NAVBAR END*/

/* Mainview START*/
.username
{
    padding: 0;
    margin-bottom: 0px;
    display: block;
    text-align: center;
    color: #a0a0a0;
}
#mainViewContainer
{
    margin-left: 200px;
    padding-bottom: 90px;
    width: calc(100% - 200px)
}
#mainContent
{
    padding: 0 20px;
}
.pageHeadingBig
{
    padding: 0px 0px 20px 0px;
    text-align: center;
    letter-spacing: 3px;
}
.gridViewItem
{
    display:  inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}
.gridViewItem img
{
    width: 100%;
    
}
.gridViewItem a
{
    text-decoration: none;
}
.gridViewInfo
{
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
/* Mainview END*/

/*Album_page START*/
.entityInfo
{
    padding: 40px 0px 10px 0px;
    display: inline-block;
    width: 100%;
}
.entityInfo .leftSection
{
    width: 30%;
    float: left;
    max-width: 250px;
}
.entityInfo .leftSection img
{
    width: 100%;
}
.entityInfo .rightSection
{
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}
.entityInfo .rightSection h2
{
    margin-top: 0px;
}
.entityInfo .rightSection p
{
    color: #a0a0a0;
    font-weight: 300;
}

/*SONGS LIST STYLE START*/
.trackList
{
    padding: 0;
}
.trackListRow
{
    height: 40px;
    padding:15px 10px;
    list-style: none;
}
.trackListRow:hover{
    background-color: #1c2c4a;
}
.trackListRow span
{
    color: #a0a0a0;
    font-weight: 200;
    
}
.trackListRow .trackNumber
{
    width: 8%;
    float: left;
    
}
.trackListRow .trackNumber img
{
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    
}
.trackListRow:hover .trackNumber img
{
    visibility: visible;    
}
.trackListRow:hover .trackNumber span
{
    visibility: hidden;    
}

.trackListRow .trackInfo
{
    width: 75%;
    float: left;
}
.trackListRow .trackInfo .trackName
{
    color: #fff;
    margin-bottom: 7px
}
.trackListRow .trackInfo span
{
    display: block;
}
.trackListRow .trackOptions
{
    width: 5%;
    float: left;
    text-align: right;
}
.trackListRow .trackOptions img
{
    width:20px;
    visibility: hidden;
}
.trackListRow:hover .trackOptions img
{
    visibility: visible;
}
.trackListRow .trackDuration
{
    width: 12%;
    float: left;
    text-align: right;
}